{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Accenture North America Data Analytics and Visualization Job Simulation{% endblock %}

{% block content %}
<section class="certification-detail-section">
    <div class="container2">
        <h1>Accenture North America Data Analytics and Visualization Job Simulation</h1>
        <img src="{% static 'images/user/3.png' %}" alt="Accenture North America Data Analytics and Visualization Job Simulation" class="certification-image">
        
        <p><strong style="color: #800020;">Issued By:</strong> <strong>Forage</strong></p>
        
        <p><strong style="color: #800020;">Description:</strong></p>
        <p>
            I recently completed the <strong>Accenture North America Data Analytics and Visualization job simulation</strong> on <strong>Forage</strong> in <strong>August 2024</strong>. This simulation provided me with a realistic experience of working as a <strong>Data Analyst</strong> at Accenture, where I was tasked with advising a hypothetical social media client.

            <br><br>
            
            My role involved <strong>cleaning, modeling, and analyzing seven datasets</strong> to uncover valuable insights into content trends, which informed strategic decision-making. Throughout the simulation, I honed my skills in <strong>data analysis and visualization</strong> by utilizing <strong>Excel</strong> to manage and interpret data. I also developed and presented a comprehensive <strong>PowerPoint deck</strong> and <strong>video summary</strong> to effectively communicate key insights to both the client and internal stakeholders.

            <br><br>
            
            This experience deepened my appreciation for <strong>data-driven decision-making</strong> and allowed me to practice essential skills such as <strong>data cleaning, modeling, visualization, and storytelling</strong>. The simulation provided me with practical insights into the collaborative and analytical aspects of a project team at Accenture, reinforcing my enthusiasm for working in a dynamic, data-focused environment. I am eager to leverage these skills and experiences in a diverse project team.
        </p>
        
        <a href="{% url 'pages:home' %}" class="view-details-btn">Back to Home</a>
    </div>
</section>
{% endblock %}
